
name: Deploy ALZ in HUB Networking configuration

# only trigger on pull request closed events
on:
  workflow_dispatch: {}

permissions:
      id-token: write
      contents: read

env:
  Location: "norwayeast"
  ManagementGroupPrefix: "hubnw"
  TopLevelManagementGroupDisplayName: "Hub Networking management group hierarchy"
  mgSubscriptionId: "6628bab6-9526-4636-a37a-182052d9671c"
  mgResourceGroup: "hubnw-mgmt"
  connSubscriptionId: "cef889d1-be0e-48d3-ab41-6a15291a2d95"
  connResourceGroup: "hubnw-connectivity"
  spokeSubscriptionId: "3b6e398c-8e14-47b5-952b-f201880f9746"
  spokeResourceGroup: "spoke-connectivity"

  
jobs:
  deploy_job:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          enable-AzPSSession: true

    - name: Az CLI Deploy Management Groups for PR
      id: create_mgs
      shell: bash
      run: |
        az deployment tenant create --template-file infra-as-code/bicep/modules/managementGroups/managementGroups.bicep --parameters parTopLevelManagementGroupPrefix=${{ env.ManagementGroupPrefix }} parTopLevelManagementGroupDisplayName="${{ env.TopLevelManagementGroupDisplayName }}" --location ${{ env.Location }}

    - name: Az CLI Deploy Custom Role Definitions for PR
      id: create_rbac_roles
      shell: bash
      run: |
          az deployment mg create --template-file infra-as-code/bicep/modules/customRoleDefinitions/customRoleDefinitions.bicep --parameters @infra-as-code/bicep/modules/customRoleDefinitions/parameters/customRoleDefinitions.parameters.all.json parAssignableScopeManagementGroupId=${{ env.ManagementGroupPrefix }} --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}

    - name: Az CLI Deploy Custom Policy Definitions for PR
      id: create_policy_defs
      shell: bash
      run: |
          az deployment mg create --template-file infra-as-code/bicep/modules/policy/definitions/customPolicyDefinitions.bicep  --parameters @infra-as-code/bicep/modules/policy/definitions/parameters/customPolicyDefinitions.parameters.all.json parTargetManagementGroupId=${{ env.ManagementGroupPrefix }} --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}

    - name: Az CLI Deploy Monitor Policy Definitions
      id: create_monitor_policy_defs
      shell: bash
      run: |
          az deployment mg create --template-file Observability_L100/Deploy/policyDeploy.bicep --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}
    
    - name: Az CLI Deploy Logging for PR
      id: create_logging
      shell: bash
      run: |
          az account set --subscription ${{ env.mgSubscriptionId }}
          az group create --name ${{ env.mgResourceGroup }} --location ${{ env.Location }}
          az deployment group create --resource-group ${{ env.mgResourceGroup }} --template-file infra-as-code/bicep/modules/logging/logging.bicep --parameters @infra-as-code/bicep/modules/logging/parameters/logging.parameters.all.json

    - name: Az CLI Default ALZ Policy assignments
      id: create_policy_assignment_dine
      shell: bash
      run: |
          az deployment mg create --template-file infra-as-code/bicep/modules/policy/assignments/alzDefaults/alzDefaultPolicyAssignments.bicep --parameters @infra-as-code/bicep/modules/policy/assignments/alzDefaults/parameters/alzDefaultPolicyAssignments.parameters.all.json parTopLevelManagementGroupPrefix=${{ env.ManagementGroupPrefix }} parLogAnalyticsWorkSpaceAndAutomationAccountLocation=${{ env.Location }} parLogAnalyticsWorkspaceResourceId="/subscriptions/${{ env.mgSubscriptionId }}/resourceGroups/${{ env.mgResourceGroup }}/providers/Microsoft.OperationalInsights/workspaces/alz-log-analytics" --location ${{ env.Location }} --management-group-id "${{ env.ManagementGroupPrefix }}-landingzones" 

    - name: Az CLI Monitor Policy assignments
      id: create_monitor_policy_assignment_dine
      shell: bash
      run: |
          az deployment mg create --template-file Observability_L100/Deploy/policyAssignDeploy.bicep --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}




    - name: Az CLI Subscription Placement for PR
      id: move_sub
      shell: bash
      run: |
          az deployment mg create --template-file infra-as-code/bicep/orchestration/subPlacementAll/subPlacementAll.bicep --parameters @infra-as-code/bicep/orchestration/subPlacementAll/parameters/subPlacementAll.parameters.hubnw.json parTopLevelManagementGroupPrefix=${{ env.ManagementGroupPrefix }} --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}

    - name: Az CLI Deploy Hub Networking for PR
      id: create_hub_network
      shell: bash
      run: |
          az account set --subscription ${{ env.connSubscriptionId }}
          az group create --name ${{ env.connResourceGroup }} --location ${{ env.Location }}
          az deployment group create --resource-group ${{ env.connResourceGroup }} --template-file infra-as-code/bicep/modules/hubNetworking/hubNetworking.bicep --parameters @infra-as-code/bicep/modules/hubNetworking/parameters/hubNetworking.parameters.all.json parLocation=${{ env.Location }} 
    
    - name: Az CLI Deploy Spoke Networking for PR
      id: create_spoke_network
      shell: bash
      run: |
          az deployment mg create --template-file infra-as-code/bicep/orchestration/hubPeeredSpoke/hubPeeredSpoke.bicep --parameters  @infra-as-code/bicep/orchestration/hubPeeredSpoke/parameters/hubPeeredSpoke.parameters.hubnw.json --location ${{ env.Location }} --management-group-id ${{ env.ManagementGroupPrefix }}
