variables:
  location: 'norwayeast'
  ManagementGroupPrefix: 'alz'
  connectivityManagementGroup: 'alz-platform-connectivity'
  identityManagementGroup: 'alz-platform-identity'
  managementManagementGroup: 'alz-platform-management'
  LZManagementGroup: "alz-landing-zone"
  serviceConnectionName: 'alz-monitor'

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@2
  displayName: 'Deploy Monitor Policy Definitions'
  inputs:
    azureSubscription: ${{ variables['serviceConnectionName'] }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/deploy_dine_policies.bicep' --location $(location) --management-group-id $(ManagementGroupPrefix)
- task: AzureCLI@2
  displayName: 'Deploy Monitor Policy Initiative Definitions'
  inputs:
    azureSubscription: ${{ variables['serviceConnectionName'] }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/src/resources/Microsoft.Authorization/policySetDefinitions/ALZ-MonitorConnectivity.json' --location $(location) --management-group-id $(ManagementGroupPrefix)
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/src/resources/Microsoft.Authorization/policySetDefinitions/ALZ-MonitorIdentity.json' --location $(location) --management-group-id $(ManagementGroupPrefix)
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/src/resources/Microsoft.Authorization/policySetDefinitions/ALZ-MonitorManagement.json' --location $(location) --management-group-id $(ManagementGroupPrefix)
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/src/resources/Microsoft.Authorization/policySetDefinitions/ALZ-MonitorLandingZone.json' --location $(location) --management-group-id $(ManagementGroupPrefix)
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/src/resources/Microsoft.Authorization/policySetDefinitions/ALZ-MonitorServiceHealth.json' --location $(location) --management-group-id $(ManagementGroupPrefix)
         
- task: AzureCLI@2
  displayName: 'Assign Monitor Policy Initiatives'
  inputs:
    azureSubscription: ${{ variables['serviceConnectionName'] }}
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/assign_initiatives_connectivity.bicep' --location $(location) --management-group-id $(connectivityManagementGroup) --parameters ./infra-as-code/bicep/parameters-complete-connectivity.json
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/assign_initiatives_identity.bicep' --location $(location) --management-group-id $(identityManagementGroup) --parameters ./infra-as-code/bicep/parameters-complete-identity.json
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/assign_initiatives_management.bicep' --location $(location) --management-group-id $(managementManagementGroup) --parameters ./infra-as-code/bicep/parameters-complete-management.json
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/assign_initiatives_landingzones.bicep --location' --location $(location) --management-group-id $(LZManagementGroup) --parameters ./infra-as-code/bicep/parameters-complete-landingzones.json
     az deployment mg create --template-file '$(System.DefaultWorkingDirectory)/infra-as-code/bicep/assign_initiatives_servicehealth.bicep --location' --location $(location) --management-group-id $(ManagementGroupPrefix) --parameters ./infra-as-code/bicep/parameters-complete-servicehealth.json
